[blueprints_preset]
region = jita
price_field = buy
volume_field = volume

[ships_preset]
region = jita
price_field = buy
volume_field = volume

[modules_preset]
region = jita
price_field = buy
volume_field = volume

[rigs_preset]
region = jita
price_field = buy
volume_field = volume

[materials_preset]
region = jita
price_field = buy
volume_field = volume

[reactions_preset]
region = jita
price_field = buy
volume_field = volume

[components_preset]
region = jita
price_field = buy
volume_field = volume
