[blueprints_preset]
region = jita
price_field = buy
volume_region = jita

[ships_preset]
region = jita
price_field = buy
volume_region = jita

[modules_preset]
region = jita
price_field = buy
volume_region = jita

[rigs_preset]
region = jita
price_field = buy
volume_region = jita

[materials_preset]
region = jita
price_field = buy
volume_region = jita

[reactions_preset]
region = jita
price_field = buy
volume_region = jita

[components_preset]
region = jita
price_field = buy
volume_region = jita
